@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Source+Code+Pro:wght@500&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}


.op-btn:checked,
.op-btn:not(:checked){
    visibility: hidden;
    height: 0;
    width: 0;
}


.op-btn:checked + label,
.op-btn:not(:checked) + label{
    font-weight: 600;
    font-size: larger;
    cursor: pointer;
    opacity: 0.5;
}

.op-btn:checked + label{
    opacity: 1;
}

.op-btn:not(:checked) + label:hover{
    opacity: 0.8;
}

.op-btn:checked + label{
    color: rgb(199, 198, 198);
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: url(./assets/data-security-threat.svg); */
    background: url(./assets/1129028.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #000;
}

.blur-wrapper{
    width: 550px;
    height:95%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: invert(10%);
    border-radius: 2rem;
    box-shadow: 0px 0px 50px 1px rgb(122, 122, 122);
    border-bottom: 0.35rem solid rgb(73, 72, 73);
}

.wrapper{
    width: 100%;
    max-width: 450px;
}

.check-gen{
    display: flex;
    gap: 1rem;
    padding-bottom: 1.5rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.heading{
    color: rgb(114, 114, 114);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.2;
}

.display-container{
    position: relative;
    /* background-color: rgba(138, 43, 226, 0.85); */
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    /* background: url(./assets/MoonlitAsteroid.jpg); */
    border-radius: 1rem;
    border-bottom: 0.35rem solid rgb(73, 72, 73);
    margin: 1rem 0;
    padding-top: 0.35rem;
}

.pwd-input, .display{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 1.15rem 1rem;
    color: rgb(185, 185, 185);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 10px;
    letter-spacing: 1px;
    padding-right: 3.25rem;
}

.display::placeholder, .pwd-input::placeholder{
    position: absolute;
    top: 50%;
    left: 1.5rem;
    font-size: 1.5rem;
    line-height: 30px;
    color: rgb(180, 180, 180);
    opacity: 0.7;
    text-transform: uppercase;
    transform: translateY(-50%);
}

.display-container button{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
}

.input-container,
.output-container{
    width: 100%;
    /* background-color: rgba(138, 43, 226, 0.85); */
    /* background-color: white; */
    color: dimgray;
    border-radius: 1rem;
    padding: 2rem;
    /* border-bottom: 0.35rem solid violet; */
    /* border-bottom: 0.35rem solid rgb(73, 72, 73); */
}

.pwd-len,
.length-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.length-container p:nth-child(1),
.pwd-len p:nth-child(1){
    color: rgb(180, 180, 180);
    font-size: 1.5rem;
}

.length-container p:nth-child(2),
.pwd-len p:nth-child(2){
    color:rgb(180, 180, 180);
    font-size: 1.5rem;
}

.strength-container,
.strn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
    
}


.strength-container p,
.strn-container p{
    color: rgb(180, 180, 180);
    font-size: 1.5rem;
    
}

.indicator,
.indic{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.generateButton{
    width: 100%;
    padding: 1rem 0;
    background-color: whitesmoke;;
    text-align: center;
    border-radius: 0.75rem;
    border-bottom: 0.35rem solid rgb(180, 180, 180);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: dimgray;
    font-size: 1.25rem;
    border-top: none;
    border-right: none;
    border-left: none;
    cursor: pointer;
}

/* .pwd-generator{
    backdrop-filter: blur(15px);
} */

.check{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 0 1rem;
}

.check input{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(180, 180, 180);
    cursor: pointer;
    position: relative;
    border-radius: 0.35rem;
}

.check input:checked{
    background-color: rgb(180, 180, 180);

}

.check input:checked::before{
    content: '\2713';
    position: absolute;
    font-size: 1.05rem;
    font-weight: 600;
    left: 50%;
    top: -3.5px;
    transform: translateX(-50%);
}

.check label{
    color: rgb(180, 180, 180);
    font-size: 1.25rem;
    letter-spacing: 0.75px;
} 

.slider{
    appearance: none;
    width: 100%;
    height: 0.75rem;
    cursor: pointer;
    /* background-color: rgb(121, 121, 121); */
    /* background: linear-gradient(to top, #414345, #232526); */
    background: linear-gradient(90deg, rgba(48,48,48,1) 0%, rgba(154,154,154,1) 100%);
    border-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background-repeat: no-repeat;
    outline: 3px solid rgb(100, 100, 100);
}

.slider::-webkit-slider-thumb{
    position: relative;
    appearance: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: rgb(41, 41, 41);
    cursor: pointer;
    margin-top: -1px;
    box-shadow: 0px 0px 20px 0px rgba(177, 176, 173, 0.5);
    transition: all 100ms ease-in;
}

.slider::-moz-range-thumb{
    position: relative;
    appearance: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: rgb(41, 41, 41);
    cursor: pointer;
    margin-top: -1px;
    box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.5);
    transition: all 100ms ease-in;
}

.slider:focus{
    outline: 3px solid rgb(180, 180, 180);
}

.slider::-webkit-slider-thumb:hover{
    background-color: black;
    outline: 2px solid rgb(180, 180, 180);
    box-shadow: 0px 0px 25px 5px rgba(180, 180, 180, 0.8);
}

.slider::-moz-range-thumb:hover{
    background-color: black;
    outline: 2px solid yellow;
    box-shadow: 0px 0px 25px 5px rgba(255, 229, 61, 0.80);
}

.copy-btn{
    background-color: transparent;
    border: none;
    outline: none;
}

.tooltip{
    color: dimgray;
    background-color: rgb(255, 255, 255);
    position: absolute;
    font-size: 1.25rem;
    top: -35px;
    left: -25px;
    padding: 5px 10px;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: all 250ms ease-in-out;
}

.tooltip.active{
    opacity: 1;
    transform: scale(1);
}

